# Django
DJANGO_SECRET_KEY=2MlXbDzOVJFAi0pzBskJYQndAHTkUwWYwWZZzr6kq4b8EwvPscoaqUwUH3WBnYGpCVs
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos
DATABASE_URL=postgres://saisuite:saisuite_local@db:5432/saisuite_dev

# JWT
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# n8n
N8N_API_KEY=your-n8n-api-key
N8N_BASE_URL=http://n8n:5678
CORS_ALLOWED_ORIGINS=http://localhost:4200

# AWS (solo producción)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
SQS_TO_CLOUD_URL=
SQS_TO_SAI_URL=

# OpenAI (chat IA)
OPENAI_API_KEY=
